p {
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top:5px ;
    margin-bottom:7px ;
}

html,
body {
    border: 0px solid rgb(104, 97, 97);
    margin: 0px;
    height: 100%;
    
}

#log {
    width: 90vw;
    /* float: right; */
    height: 100%;
    margin-right: 30px;
    Padding-left: 1vw;
    margin-top: 30px;
    border-left: 1.5px solid rgb(0,0,0);
}

#control {
    /* float: left; */
    width: 90vw;
    height: 100%;
    margin: 30px;
    margin-right: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
select{
    margin-right: 10px;
}
#filters>select {
    width: 30%;
    margin: 5px;
}
#updata {
    width: 20%;
    margin: 5px;
    height: 22px;
}
#filters {
    display: flex;
    height: 5%;
}

#control>div>div>textarea{
    width: 70%;
}
input{
    height: 17px;
    width: 55%;
}
#filters>input{
    height: 17px;
    margin-top: 4.5px;
    width: 22%;
}
#control>div>div,
#online {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    align-items:baseline;
}

#import {
    height: 70%;
}

#import>div {
    margin-bottom: 20px;
}

tr {
    width: 100%;
}
td{
    vertical-align:text-top
}
hr {
    border: 1px solid rgb(85, 85, 85);
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    font-size: 18px;
    letter-spacing: -0.3px;
    text-align: left;
}

#options {
    margin-top: 5px;
}

#options>button {
    margin-right: 10%;
    width: 100px;
    height: 65%;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px  solid rgb(85, 85, 85)
}
#order{
    margin-right:10px;
}
select{
    height:22px;
}
.s{
    margin-left: 10px;
}
#ejp3{
    overflow-y: scroll;
    height: 80vh;
}
@media (min-width: 600px) {   
    html,
    body {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;    
        }
    #log {
        width: 45vw;
       
    }
    
    #control {
        width: 45vw;
    }
}
@media (max-width: 600px) {   
    
    #control {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0px;
        height: 70vw;
    }
    #import {
        height: 100%;
    }
    #import>div {
        height: 30%;
    }
}
#onlineer{
    width: 60%;
}
#success{
    border: 1px solid rgb(85, 85, 85);
    width: 90%;
    margin-top: 40px;
    word-wrap:break-word;
}
#poiuyt{
    margin-top: 25px;
}
